.input-box {
    display: flex;
    align-items: center;
    outline: none;

}

.sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    row-gap: 1rem;
    background-color: white;
    max-width: 400px;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin-top: 5rem;
    margin-bottom: 5rem;
    z-index: 100;
}

.input-box i {
    margin-right: 1rem;

}